<div class="container-fluid bg-primary text-white text-center rounded p-5">
  <h1 class="display-3">Let's Go !</h1>
  <button type="button" class="btn btn-success mx-3 mt-5" routerLink="/">Menu</button>
</div>
<br>
<div class="container" *ngIf="game">
  <form>
    <div class="form-group">
      <div *ngFor="let player of game.players; index as nbPlayer">
        <table class="table table-bordered table-dark" description="Tableau des scores">
          <tbody>
            <tr>
              <td class="col" rowspan="3">{{player.name}}</td>
              <td *ngFor="let x of [].constructor(game.rounds); 
                index as i" class="col" [attr.colspan]="state[player.id ?? -1][i].length">
                Tour : {{ i+1 }}
              </td>
            </tr>
            <tr>
              <td *ngFor="let x of [].constructor(game.rounds * 2) ; index as i" class="col" colspan="1">
                {{ i % 2 == 0 ? state[player.id ?? 0][i/2][0] == -1 ? '' : state[player.id ?? 0][(i/2)][0] :
                state[player.id ?? 0][(i-1)/2][1]
                == -1 ? '' : state[player.id ?? 0][(i-1)/2][1]
                }}
              </td>
              <td *ngIf="lastRound && (state[player.id ?? -1][(game.rounds -1)][1] + state[player.id ?? -1][(game.rounds-1)][0] >= this.game.pins)" class="col" >
                {{ (state[player.id ?? 0][game.rounds - 1][2]) == -1 ? '' : state[player.id ?? 0][game.rounds - 1][2] }}
              </td>
            </tr>
            <tr>
              <td *ngFor="let x of [].constructor(game.rounds ) ; index as i"
                [attr.colspan]="state[player.id ?? 0][i].length" class="col">
                Total : {{ player.scores[i] ? player.scores[i].total : ''}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="form-group" *ngIf="buttonState">
      <div class="form-check form-check-inline"
        *ngFor="let i of [].constructor(game.pins - nbScoreLast + 1) ; index as nbPin">

        <input class="form-check-input" type="radio" name="nbPinRadio" [value]="nbPin" [(ngModel)]="selectedNbPins">
        <label class="form-check-label">{{nbPin}}</label>
      </div>
      <button type="submit" class="btn btn-primary" (click)="register_score_tour()">Register score</button>
    </div>
    <br>

    <button type="submit" class="btn btn-primary" (click)="submit()" [disabled]="buttonState">Enregistrer et
      quitter</button>
  </form>



</div>